<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'updateform' range.SrNo %}" method="post">
        {% csrf_token %}

        <p>
            <label for="id_SrNo">SrNo:</label>
        </p>

        <p>
            <input type="text" name="SrNo" maxlength="20" required="" id="id_SrNo" value="{{range.SrNo}}">
        </p>

        <p>
            <label for="id_Role_Name">Role Name:</label>
        </p>

        <p>
            <input type="text" name="Role_Name" maxlength="50" required="" id="id_Role_Name" value="{{range.Role_Name}}">
        </p>

        <p>
            <label for="id_Role_Description">Role Description:</label>
        </p>

        <p>
            <input type="text" name="Role_Description" maxlength="100" required="" id="id_Role_Description" value="{{range.Role_Description}}">
        </p>

        <button type="submit">Update Role</button>
    </form>
</body>
</html>